# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.python-version
.theia
.DS_Store

# Integration specific
app/config.conf
app/*.sql
app/app.log
app/find_data.py
todo.txt
codeship.aes
env
